#root {
    width: 100vw;
    height: 100vh; 
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}


.footer {
    height: auto;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    width: 100%;
    justify-content: center;
    background-color: #001219;
    color: white;
}