.imagen-muestra-menu {
    width: 100%;
    height: auto;
    aspect-ratio: 16/16;
    max-width: 50px;
}

#inputs-imagenes div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}