.modal-div {
    width: 600px;
}

.modal-content {
    width: 600px;
}

.modal-info-editar {
    width: 600px;
}

.modal-info {
    width: 500px;
}


/* Modal de eliminacion de empleado */
.modal-flotante-content div p {
    color: black;
}

.modal-flotante-content div button {
    margin-inline: 25px;
    padding: 7px;
}