#header-login{
    background-color: #2b86c4;
    width: 250px;
    margin-left: 50px;
    margin-bottom: 0;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    z-index: 1;
    position: fixed;
}

#logo-header-login{
    width: 250px;
    padding: 10px;
}

#logo-header-login:hover {
    filter: drop-shadow(10px 8px 6px black);
    transition: 0.4s;
}

@media (max-width: 720px) {
    #header-login {
        position: relative;
        margin-bottom: -107px;
    }

    .info-side {
        display: none;
    }
}