#header-login{
    background-color: #3cff7d93;
    margin-bottom: 0;
}

#logo-header-login{
    width: 250px;
    padding: 10px;
    margin-left: 50px;
}

#logo-header-login:hover {
    filter: drop-shadow(10px 8px 6px #a6b335e7);
    transition: 0.4s;
}