/*-----------HEADER----------------*/

.header-all{
  background-color: #2b86c4;
  display: flex;
  align-items: center;
  min-height: 10.5vh;
  padding: 50px 0 0 0;
  transition: background-color 0.3s ease;
}

.header-all .navbar .ul-header-all li a:hover{
  color: #2C2C2C;
}

.header-all .logo:hover{
  filter: drop-shadow(10px 8px 6px #2C2C2C);
}

.menu-icono-all{
  width: 40px;
  margin-right: 30px;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-icono-all:hover{
  background-color: #2C2C2C;
  transition: .3s;
  cursor: pointer;
}
