.modal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBox {
    position: relative;
}

.inputBox input[type='number'],
.inputBox input[type='password'],
.inputBox input[type='text'],
.inputBox input[type='email'],
.inputBox input[type='time'],
.inputBox input[type='date'],
.inputBox input[type='phone'] {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid rgb(82, 82, 82);
    background: #fff;
    border-radius: 4px;
    outline: none;
    color: black;
}

.inputBox input[type='date'] {
    width: 100%;
    padding: 10px;
    padding-top: 30px;
    border: 1px solid (255, 255, 255, 0.25);
    background: #fff;
    border-radius: 5px;
    outline: none;
    color: black;
}

.inputBox select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 5px;
    color: black;
}
.inputBox span {
    position: absolute;
    left: 0;
    padding: 8px;
    pointer-events: none;
    color: rgb(82, 82, 82);
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #1d2b3a;
    transform: translateX(10px) translateY(-9px);
    font-size: 0.85em;
    padding: 0 10px;
    background: #fff;
    border-left: #2b86c4;
    border-right: #2b86c4;
}

.inputBox:nth-child(2) input:valid~span,
.inputBox:nth-child(2) input:focus~span {
    color: #1d2b3a;
    border-radius: 2px;
}


.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #2b86c4;
}

select:focus {
    border: 1px solid #2b86c4;
}

.inputBox .icon-filter {
    position: absolute;
    margin: 7px -30px;
    color: rgb(82, 82, 82);
}