.modal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBox {
    position: relative;
}

.inputBox input[type='number'],
.inputBox input[type='password'],
.inputBox input[type='text'],
.inputBox input[type='email'],
.inputBox input[type='time'],
.inputBox input[type='date'],
.inputBox input[type='phone'] {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid rgb(82, 82, 82);
    background: #fff;
    border-radius: 4px;
    outline: none;
    color: black;
    margin-bottom: 10px;
}

.inputBox input[type='file'] {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: none;
    border-radius: 4px;
    outline: none;
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
    margin-top: -10px;
}

.inputBox input[type='file']::-webkit-file-upload-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.inputBox input[type='file']::-webkit-file-upload-button:hover {
    background-color: #0056b3;
}


.inputBox select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 5px;
    color: black;
    margin-bottom: 10px;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 8px;
    pointer-events: none;
    color: rgb(82, 82, 82);
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #1d2b3a;
    transform: translateX(10px) translateY(-9px);
    font-size: 0.85em;
    padding: 0 10px;
    background: #fff;
    border-left: #2b86c4;
    border-right: #2b86c4;
}

.inputBox input:user-invalid~span {
    color: #1d2b3a;
    transform: translateX(10px) translateY(-9px);
    font-size: 0.85em;
    padding: 0 10px;
    background: #fff;
    border-left: #2b86c4;
    border-right: #2b86c4;
}

.inputBox input:user-invalid{
    color: red;
    border: 1px solid red;
}

.inputBox input:user-invalid~span{
    color: red;
}



.inputBox:nth-child(2) input:valid~span,
.inputBox:nth-child(2) input:focus~span {
    color: #1d2b3a;
    border-radius: 2px;
}


.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #2b86c4;
}

select:focus {
    border: 1px solid #2b86c4;
}

.inputBox .icon-filter {
    margin: 7px -30px;
    display: flex;
    position: absolute;
    color: rgb(82, 82, 82);
}







.file-input-wrapper {
    position: relative;
    width: 100%;
    height: 60px; /* Ajusta la altura del contenedor */
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Asegúrate de que el input cubra todo el contenedor */
    opacity: 0;
    cursor: pointer;
}

.file-input-label {
    display: inline-block;
    width: 100%;
    height: 100%; /* Ajusta la altura de la etiqueta para que coincida con el contenedor */
    padding: 18px 12px; /* Ajusta el padding para centrar el texto verticalmente */
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: #000;
}
