@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.form-main{
    background: url('../assets/img/backgrounds/bg-login-cliente.jpg') no-repeat center center fixed; 
    background-size: cover;
    min-height: 100%;
}

#pass-forg{
    color: #2c2c2c;;
}

#create-account {
    text-align: center;
    color: #2c2c2c;;
}

#icon-lock {
    color: #2c2c2c;;
    position: absolute;
    right: 0p;
    margin-top: 4px;
    padding: 5px;
}

#icon-lock:hover{
    cursor: pointer;
    background-color: gray;
    border-radius: 20px;
}

#icon-gmail{
    height: 50px;
    width: 50px;
    border: 1px solid #2c2c2c;;
    padding: 5px;
    margin-left: 8px;
    border-radius: 25px;
}

#icon-gmail:hover{
    background-color: #2c2c2c;;
    transition: .2s;
    cursor: pointer;
}

#back-icon{
    color: #2c2c2c;
    position: absolute;
    top: 10px;
    left: 15px;
}

#back-icon:hover{
    cursor: pointer;
    color: grey;
    transition: .2s;
}

.horizontal-divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

a {
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.gradient-text:hover {
    text-decoration: underline;
}

.form-main {
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    width: auto;
    max-width: 75%;
    position: relative;
}

.form-content::placeholder {
    color: inherit;
}

.form-content .box {
    border-color: #2c2c2c;
    border: 3px solid #2c2c2c;
    padding: 40px 100px;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #2c2c2c;
    box-shadow: 0 0 40px black;
}

.form-content h3 {
    font-size: 35px;
    text-align: center;
    line-height: 1.2;
    color: #2c2c2c;;
    font-weight: 500;
}




.form-content #subtitle {
    color: #2c2c2c;;
    display: flex;
    text-align: center;
}

.form-content form {
    margin: 25px 0 20px;
}

.form-content .input-box {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.form-content .input-control {
    display: block;
    height: 45px;
    width: 100%;
    padding: 2px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #2c2c2c;;
    border-right: 2px solid #2c2c2c;;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
    color: #2c2c2c;
}

.form-content .input-control::placeholder {
    color: rgb(145, 145, 145);
}

.form-content .input-control:focus {
    outline: none;
}

.form-content .input-link {
    margin-top: -8px;
    text-align: right;
}

.form-content .btn {
    height: 45px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: inherit;
    border-radius: 25px;
    user-select: none;
    background-color: #2b86c4;
    border: none;
    color: #FFFFFF;
    z-index: 1;
    position: relative;
    overflow: hidden;
    margin-top: -19px;
}

.form-content .btn:hover {
    cursor: pointer;
    background-color: #0056b3;
    transition: .8s;
}

#subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns-crear-cuenta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.btns-crear-cuenta .btn-accion-atras{
    margin-right: 20px;
    width: 100%;
}

.btns-crear-cuenta .btn-accion-adelante{
    width: 100%;
}

.btns-crear-cuenta .btn-accion-registrarse{
    background-color: green;
    width: 100%;
}

.btns-crear-cuenta .btn-accion-registrarse:hover{
    background-color: rgb(1, 73, 1);
}