@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btns-pasos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btns-pasos .btn-accion-atras {
  margin-right: 10px;
}

.btns-pasos .btn-accion-completar {
  background-color: green;
}

.btns-pasos .btn-accion-completar:hover {
  background-color: rgb(1, 73, 1);
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  /* Ajusta según tus necesidades */
  margin: auto;
  overflow: hidden;
}

.imagenes-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.imagen-muestra {
  min-width: 100%;
  box-sizing: border-box;
  display: none;
  text-align: center;
  /* Para centrar el contenido dentro de cada imagen-muestra */
}

.imagen-muestra.active {
  display: block;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}

.imagen-muestra img {
  width: 100%;
  /* Ajusta según el tamaño deseado */
  height: 76%;
  max-height: 400px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagen-muestra img:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px black;
  transition: 0.3s;
}



.modal-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678);
  /* Fondo gris transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Asegura que el modal esté por encima de otros elementos */
}

.modal-content {
  background-color: white;
  width: 90%;
  /* Ajusta según sea necesario */
  height: auto;
  max-height: 90%;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  overflow-y: auto;
  /* Permite scroll si el contenido es demasiado grande */
  animation: slide-down 0.3s ease-out;
  /* Aplica la animación */
  box-shadow: 0 0 20px black;
}

.modal-content button {
  width: 21%;
}

.modal-close {
  position: sticky;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  padding: 0;
  margin-left: auto;
  transition: 0.3s;
  z-index: 10;
}

.modal-close:hover {
  background-color: red;
}

.modal-div .inputBox {
  margin-bottom: 20px;
  width: 70vh;
}

.modal-content .inputBox {
  margin-bottom: 20px;
  width: 70vh;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-div .btns-eliminar-stock button {
  margin: 10px 50px 0 50px;
}

.modal-info .cierre-ingrediente {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 2px;
  border-radius: 4px;
  width: 17px;
}

.modal-info .cierre-ingrediente:hover {
  background-color: gray;
  cursor: pointer;
}


/* Media queries para hacer el modal responsive */
@media screen and (max-width: 768px) {
  .modal-content .inputBox {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .modal-content .inputBox {
    width: 90%;
  }
}