@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678); /* Fondo gris transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que el modal esté por encima de otros elementos */
}

.modal-content {
  background-color: white;
  width: 90%; /* Ajusta según sea necesario */
  height: auto;
  max-height: 100%;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  overflow-y: auto; /* Permite scroll si el contenido es demasiado grande */
  animation: slide-down 0.3s ease-out; /* Aplica la animación */
  box-shadow: 0 0 20px black;
}

.modal-content button{
  width: 15%;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  padding: 0;
  margin: 10px;
  transition: 0.3s;
}

.modal-close:hover {
  background-color: red;
}

.modal-div .inputBox {
  margin-bottom: 20px;
  width: 70vh;
}

.modal-content .inputBox {
  margin-bottom: 20px;
  width: 70vh;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-div .btns-eliminar-stock button {
  margin: 10px 50px 0 50px;
}

.modal-info .cierre-ingrediente{
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 2px;
  border-radius: 4px;
  width: 17px;
}

.modal-info .cierre-ingrediente:hover{
  background-color: gray;
  cursor: pointer;
}
