.modal-div {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  margin: 0 auto;
  padding: 25px;
}

.datos {
  display: flex;
  flex-direction: row;
}

.datos.hidden {
  display: none;
  flex-direction: row;
}

input {
  margin-bottom: 10px;
}

.modal-close {
  width: 90%;
}

.button-form {
  padding: 15px;
  color: white;
  margin-bottom: 15px;
}
