.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}



.modal-flotante-content div {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;  
  
}

.modal-flotante-content label {
  margin-top: 25px;
}

.div-ingrediente-menu {
  display: flex;
  flex-direction: row;
}

.div-ingrediente-menu select {
  width: 120px;
}

.div-ingrediente-menu input {
  width: 50px;
}

.div-ingrediente-menu p {
  margin-left: 15px;
  cursor: pointer;
}


/*
DetalleMenu
*/

#grid-container-modal {
  margin-top: 80px;
}

.grid-item-modal {
  width: 100%;
  margin-inline-end: 25px;
  background-color: white;
  color: black;
}

.grid-item-modal h2 {
  padding: 10px;
}

.grid-item-modal h2 svg {
  width: 100%;
  height: auto;
  aspect-ratio: 16/16;
  max-width: 30px;
}

.carousel-item:not(:active) {
  width: 100%;
  height: auto;
  aspect-ratio: 16/16;
  max-width: 250px;
  display: none;
}

.carousel-item.active {
  width: 100%;
  height: auto;
  aspect-ratio: 16/16;
  max-width: 250px;
  display: flex;
  margin-right: 0px;
}

.carousel-indicators {
  display: flex;
  width: 180px;
  flex-direction: row;
}