.welcome-employee {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.sidebar {
  min-height: 100%;
  max-height: 100%;
  display: flex;
  background-color: #2b86c4;
}

.volver-menu:hover{
  color: #2c2c2c;
  text-decoration: underline;

}

.sidebar.white {
  background-color: white;
}



.opciones-pantallas{
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.opciones-pantallas::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

.opciones-pantallas::-webkit-scrollbar-track {
  background: #333; /* Color del fondo de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados del fondo */
}

.opciones-pantallas::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la "thumb" (la parte movible) */
  border-radius: 10px; /* Bordes redondeados de la "thumb" */
  border: 2px solid #333; /* Espacio alrededor de la "thumb" */
}

.opciones-pantallas::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color de la "thumb" al pasar el mouse por encima */
}

.opciones-menu {
  max-height: 100%;
  width: 300px;
  background-color: black;
  padding: 20px;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0 0 14px black;
  color: white;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

/* Estilos personalizados para la barra de desplazamiento */
.opciones-menu::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

.opciones-menu::-webkit-scrollbar-track {
  background: #333; /* Color del fondo de la barra de desplazamiento */
  border-radius: 0px 10px 10px 0px; /* Bordes redondeados del fondo */
}

.opciones-menu::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la "thumb" (la parte movible) */
  border-radius: 0px 10px 10px 0px; /* Bordes redondeados de la "thumb" */
  border: 2px solid #333; /* Espacio alrededor de la "thumb" */
}

.opciones-menu::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color de la "thumb" al pasar el mouse por encima */
}

.spacer{
  flex-grow: 1;
}

.main-options h4, .settings h4 {
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  border-radius: 7px;
}

p {
  font-size: 15px;
}

.opciones-menu p {
  color: white;
  cursor: pointer;
}

.main-options {
  margin-top: 12px;
}

.main-options p {
  margin-left: 22px;
  padding: 5px;
  border-radius: 7px;
}

.main-options h4:hover, .settings h4:hover {
  background-color: grey;
  transition: .3s;
}


.main-options p:hover {
  background-color: grey;
  transition: .3s;
}

.title {
  margin-top: 0;
  font-size: 24px;
  cursor: pointer;
}

.options-selected {
  text-decoration: wavy;
  color: white !important;
  font-style: italic;
}

.options-selected:hover{
  font-style: normal !important;
  transition: .5s;
  color: rgb(170, 165, 165) !important;
}

.logo-opciones:hover {
  cursor: pointer;
  filter: drop-shadow(10px 8px 6px #2b86c4);
  transition: 0.4s;
}


#label {
  font-size: 20px;
  margin-left: -10px;
  color: rgb(170, 165, 165);
}

#label:hover {
  color: white;
  cursor: pointer;
  font-style: italic;
}

.pedidos .selected {
  background-color: grey;
  border-radius: 7px;
}

.stock .selected {
  background-color: grey;
  border-radius: 7px;
}

.selected {
  background-color: grey;
  border-radius: 7px;
}

.h4-selected {
  background-color: grey;
  border-radius: 7px;
}

.perfil-employee {
  display: flex;
  align-items: center;
}

.account-info {
  margin-left: 10px;
  /* Ajusta el margen entre el icono y la información de la cuenta */
}

.logout-icon {
  margin-left: auto;
  /* Empuja el ícono de Logout completamente a la derecha */
}

.name-account {
  font-size: 22.9px;
}

.email-account {
  font-size: 12px;
}

.logout-icon:hover {
  background-color: rgb(145, 1, 1);
  border-radius: 5px;
  transition: .3s;
  cursor: pointer;
}

#main-employee {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  padding: 0;
  margin-top: 0;
}

#welcome {
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  margin-top: -150px;
  padding: 6px;
  background-color: black;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  width: 100%;
}

.settings {
  margin-top: 12px;
}

.icon-sidebar {
  display: none;
}

.icon-topbar {
  display: none;
}

.table-info{
  height: auto;
}


/* Media Queries */
@media (min-width: 1026px) {
  .opciones-menu {
    transform: translateX(0) !important;
  }
}

@media (max-width: 1382px) {
  .opciones-menu {
    width: 250px;
  }

  h4,
  .main-options p {
    font-size: 18px;
  }

  .logo-opciones {
    height: 40px;
    width: 50px;
  }

  #main-employee {
    width: 70%;
  }
  .title-header img{
    width: 210px;
    height: 80px;
  }
}

@media (max-width: 1025px) {

  .table-info {
    transition: .3s;
  }


  .opciones-menu.hidden .icon-sidebar {
    margin-left: 180px;
    border-radius: 0 20px 20px 0;
    transition: .3s;
  }



  .title-header {
    display: flex;
    flex-direction: row;
  }

  .title-header img{
    width: 200px;
    height: 50px;
  }



  .opciones-menu {
    width: 200px;
    padding: 15px;
    z-index: 1000;
  }

  h4,
  .main-options p {
    font-size: 16px;
  }

  .logo-opciones {
    height: 35px;
    width: 45px;
  }

  #main-employee {
    width: 80%;
  }

  #welcome {
    font-size: 18px;
  }
}

@media (max-width: 882px) and (min-width: 648px) {
  .title-header img{
    display: none;
  }

  .opciones-menu.hidden .icon-sidebar {
    margin-left: 140px;
    border-radius: 0 20px 20px 0;
    transition: .3s;
  }

  .icon-sidebar:hover {
    background-color: rgb(59, 59, 59);
    transition: .3s;
  }

  .opciones-menu {
    width: 150px;
    padding: 10px;
  }

  h4,
  .main-options p {
    font-size: 14px;
  }

  .logo-opciones {
    height: 30px;
    width: 40px;
  }

  .name-account {
    display: none;
  }


  #welcome {
    width: 100%;
    font-size: 16px;
    margin-top: -150px;
  }
}

@media (max-width: 648px) {
  .icon-topbar {
    display: flex;
    position: absolute;
    left: 50%;
    padding: 5px;
    border-radius: 20px;
    background-color: gray;
    cursor: pointer;
  }

  .title-header img{
    display: none;
  }

  .icon-topbar:hover {
    background-color: rgb(59, 59, 59);
    transition: .3s;
  }



  .opciones-menu.hidden .icon-topbar {
    border-radius: 0 0 20px 20px;
    transition: .3s;
  }


  .sidebar {
    flex-direction: column;
    align-items: center;
  }

  .opciones-menu {
    width: 100%;
    padding: 5px;
    border-radius: 0;
  }

  h4,
  .main-options p {
    font-size: 12px;
  }

  .logo-opciones {
    height: 25px;
    width: 35px;
  }

  .welcome-employee {
    display: none;
  }


  #welcome {
    width: 100%;
    font-size: 14px;
    margin-top: -120px;
  }
}

@media (max-width: 360px) {
  .sidebar {
    flex-direction: column;
    align-items: center;
  }

  .opciones-menu {
    width: 100%;
    padding: 5px;
    border-radius: 0;
  }

  h4,
  .main-options p {
    font-size: 12px;
  }

  .logo-opciones {
    height: 25px;
    width: 35px;
  }

  #main-employee {
    width: 100%;
  }

  #welcome {
    width: 100%;
    font-size: 14px;
    margin-top: -60px;
  }
}

@media (max-width: 180px) {
  .sidebar {
    flex-direction: column;
    align-items: center;
  }

  .name-account {
    display: none;
  }

  .opciones-menu {
    width: 100%;
    padding: 5px;
    border-radius: 0;
  }

  h4,
  .main-options p {
    font-size: 12px;
  }

  .logo-opciones {
    height: 25px;
    width: 35px;
  }

  #main-employee {
    width: 100%;
    display: none;
  }

  #welcome {
    width: 100%;
    font-size: 14px;
    margin-top: 500px;
  }
}

