.opciones-pantallas {
  background-color: gray;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
}

.sidebar{
  height: 100%;
}

.opciones {
  height: 100%;
  display: flex;
}

.opciones-menu {
  height: auto;
  width: 300px;
  background-color: rgb(240, 240, 240);
  padding: 20px;
}

.opciones-menu h4{
  cursor: pointer;
}

.opciones-menu p{
  cursor: pointer;
}
