.password-change-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: url('../assets/img/backgrounds/bg-login-cliente.jpg') no-repeat center center fixed; 
    background-size: cover;
  }
  
  .password-change-form {
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 60px black ;
    background-color: white;
  }
  
  .password-change-form h2 {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .password-change-form p {
    margin-bottom: 20px;
  }
  
  .form-field-pf {
    margin-bottom: 15px;
  }
  
  .form-field-pf label {
    display: block;
    font-weight: bold;
  }
  
  .form-field-pf input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #btn-save-pass {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #btn-save-pass:hover {
    background-color: #0056b3;
  }

  .error-message {
    display: none;
}

.form-field-pf input:user-invalid~.error-message {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    color: var(--error);
}

/* Media queries para hacer el formulario responsive */
@media screen and (max-width: 576px) {
  .password-change-form {
    padding: 10px; /* Reducimos el padding en dispositivos pequeños */
  }

  .password-change-form h2 {
    font-size: 1.5rem; /* Reducimos el tamaño del título */
  }

  .form-field-pf input {
    padding: 6px; /* Reducimos el padding del input */
  }

  #btn-save-pass {
    padding: 8px; /* Reducimos el padding del botón */
  }
}
  