#grid-container {
  margin-top: 80px;
  padding: 25px;
  display: flex;
  flex-direction: row;
}

.grid-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/16;
  max-width: 300px;
}

.grid-item {
  width: 100%;
  border: 1px solid black;
  margin-inline-end: 25px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
}

.grid-item h2 {
  padding: 10px;
}

.grid-item h2 svg {
  width: 100%;
  height: auto;
  aspect-ratio: 16/16;
  max-width: 30px;
}


