.reportes-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .reportes-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .filtros-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .fechas{
    display: flex;
    justify-content: center;
  }
  
  
  .filtros-container input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .filtros-container button {
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
  }
  
  
  .estadisticas-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .estadisticas-container p {
    font-size: 18px;
    color: #333;
    margin: 5px 0;
  }
  