.grid-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.opciones-pantallas {
    max-width: 90%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 14px black;
    min-height: 100%;
}

h1 {
    padding: 5px;
    text-align: center;
    color: white;
    background-color: #2b86c4;
    margin-right: -150px;
    margin-left: -150px;
    font-family: "Roboto Slab", serif;
}

#stocks {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #000000;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: black;
    color: white;
    border: 1px solid rgb(107, 107, 107);
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #cccccc;
}

.search-icono {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
}

.input-filtrado{
    display: flex;
    justify-content: start;
    align-items: start;
    height: 50px;
}

.btns-acciones-stock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-accion-1, .btn-accion-2{
    width: 150px;
    color: black;
    margin: 5px;
    border: 1px solid black;
}

.btn-accion-1{
    background-color: #e4e000;
}

.btn-accion-2{
    background-color: #ff0000;
}

.btn-accion-1:hover{
    background-color: #aca900;
}

.btn-accion-2:hover{
    background-color: #ad0000;
}

.btns-stock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-agregar {
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 5px;
    background-color: #2b86c4;
}

.btn-agregar:hover {
    background-color: #0056b3;
}

.btn-agregar:focus {
    outline: none;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-header, .modal-footer {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    margin: 0;
}

.modal-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

