.grid-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.opciones-pantallas {
    max-width: 90%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 14px black;
    min-height: 100%;
}

.opciones-pantallas h1 {
    padding: 5px;
    text-align: center;
    color: white;
    background-color: #2b86c4;
    margin-right: -150px;
    margin-left: -150px;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
}

#stocks {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #000000;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: black;
    color: white;
    border: 1px solid rgb(107, 107, 107);
    font-size: 18px;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #cccccc;
}


.input-filtrado{
    display: flex;
    justify-content: end;
    align-items: end;
}

.btns-acciones-stock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-accion-1, .btn-accion-2{
    width: 150px;
    color: black;
    margin: 5px;
    border: 1px solid black;
}

.btn-accion-1{
    background-color: #e4e000;
}

.btn-accion-2{
    background-color: #ff0000;
}

.btn-accion-1:hover{
    background-color: #aca900;
}

.btn-accion-2:hover{
    background-color: #ad0000;
}

.btns-stock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-agregar {
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    width: 215px;
    margin: 5px;
    background-color: #2b86c4;
}

.btn-agregar:hover {
    background-color: #0056b3;
}

.btn-agregar:focus {
    outline: none;
}
