.grid-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.references-venta{
    position: absolute;
}


.opciones-pantallas {
    max-width: 90%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 14px black;
    min-height: 100%;
}

.opciones-pantallas h1 {
    padding: 5px;
    text-align: center;
    color: white;
    background-color: #2b86c4;
    margin-right: -150px;
    margin-left: -150px;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
}

#stocks {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #000000;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: black;
    color: white;
    border: 1px solid rgb(107, 107, 107);
    font-size: 18px;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.cuadrado{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.venta{

    background-color: #19cc37;
}

.noventa{
    background-color: #f51a1a;
}

table tr:hover {
    background-color: #cccccc;
}


.input-filtrado{
    display: flex;
    justify-content: end;
    align-items: end;
}

.btns-acciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-accion-editar, .btn-accion-eliminar, .btn-accion-entregado, .btn-accion-detalle{
    width: 150px;
    color: black;
    margin: 5px;
    border: 1px solid black;
}


.btn-accion-editar{
    background-color: #e4e000;
}

.btn-accion-entregado{
    background-color: #04a11e;
    width: 100%;
    border: none;
    color: white;
}

.btn-accion-entregado:hover{
    background-color: #088a1e;
}

.btn-accion-eliminar{
    background-color: #ff0000;
}

.btn-accion-editar:hover{
    background-color: #aca900;
}

.btn-accion-eliminar:hover{
    background-color: #ad0000;
}

.btns-stock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-agregar {
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    width: 236px;
    margin: 5px;
    background-color: #2b86c4;
}

.btn-agregar:hover {
    background-color: #0056b3;
}

.btn-agregar:focus {
    outline: none;
}

.modal-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .detalle-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .detalle-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .detalle-info {
    font-size: 1em;
    color: #555;
    margin-bottom: 5px;
  }
  
  .total {
    font-size: 1.5em;
    color: #111;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .modal-container {
      padding: 30px;
    }
  
    .detalle-item {
      padding: 20px;
    }
  
    .detalle-title {
      font-size: 1.5em;
    }
  
    .detalle-info {
      font-size: 1.1em;
    }
  
    .total {
      font-size: 1.8em;
    }
  }
  
.btns-filtrado{
    display: flex;
    align-items: start;
    justify-content: start;
}

.btns-filtrado button{
    margin: 0;
    margin-bottom: 10px;
}

.inputBox-filtrado #signos {
    padding: 9.5px;
    border-left: 0;
    border-radius: 0 4px 4px 0;
}

